@model Transaction
<div>
    <table>
        <thead>
            <tr>
                <td>Income</td>
                <td>Outcome</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>